.webLi {

    font-size: large;
    font-weight: bolder;
    color: black;
    margin-left: -35px;
}

.textGarage {
    font-weight: bolder;
    color: black;
}

.textAddress {
    font-size: large;
}

.ctn0{
    display: flex;
    flex-direction: row;
    margin-left: 25.3rem!important;
}